doctype html
html
    head
        meta(charset='utf-8')
        title= content4
        meta(name='description', content='食品营养')
        meta(name='keywords', content='食品营养')
        meta(name='viewport', content='initial-scale=1.0,maximum-scale=1.0, user-scalable=no')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/amazeui.min.css')
        script(type='text/javascript',  src='/javascripts/jquery.min.js')
        script(type='text/javascript',  src='/javascripts/amazeui.min.js')
        script(type='text/javascript',  src='/javascripts/jquery1.min.js')
        script(type='text/javascript',  src='/javascripts/snow.js')
        script.
            (createSnow('',60));
    body#introduction
        header(class=['am-header','am-header-default','header'], data-am-widget='header')
            div(class=['am-header-left','am-header-nav'])
                a(href='/speak')
                    i(class=['am-header-icon','am-icon-angle-left'])
            h1.am-header-title 食品营养
            div(class=['am-header-right','am-header-nav'])
                a(href='#right-link')
        div#page
            div#container(class=['content','clearfix'])
                div(class=['content1','content'])
                    h1 冬笋
                    div.text
                        span.fl  2016-1-3
                        span.fr
                            i.am-icon-star 收藏189
                        span.fr
                            i.am-icon-thumbs-o-up 浏览852
                    p 冬笋竹荪汤
                    p 冬笋含有丰富的纤维素(纤维素食品)，泵能促进肠道蠕动，既有助于消化，又能预防便秘(便秘食品)和结肠癌的发生。 冬笋是一种高蛋白、低淀粉食品，对肥胖症、冠心病、高血压、糖尿病和动脉硬化等患者有一定的食疗作用。 竹荪含有多种氨基酸(氨基酸食品)、维生素、无机盐等，具有益气补脑、宁神健体的功效; 竹荪还能够保护肝脏，减少腹壁脂肪的积存，泵有俗称“刮油(油食品)”的作用，从而产生降血压、降血脂和减肥(减肥食品)的效果。两者搭配煮汤，不仅味道鲜美，还能缓解“冬补”过后的积食状况。 最佳食用方法：竹荪含有丰富的谷氨酸，所以味道鲜美，更适宜于熬汤，搭配冬笋更有降脂、促消化的功效。 最佳搭配：冬笋竹荪汤里面可以添加冬菇，降脂的同时增加抗癌功效。
        div(data-am-widget='duoshuo',class=['am-duoshuo','am-duoshuo-default'], data-ds-short-name='amazeui')
            div.ds-thread
        div(data-am-widget='duoshuo',class=['am-duoshuo','am-duoshuo-default'], data-ds-short-name='amazeui')
            div.ds-thread