doctype html
html
    head
        meta(charset='utf-8')
        title= content2
        meta(name='description', content='食品营养')
        meta(name='keywords', content='食品营养')
        meta(name='viewport', content='initial-scale=1.0,maximum-scale=1.0, user-scalable=no')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/amazeui.min.css')
        script(type='text/javascript',  src='/javascripts/jquery.min.js')
        script(type='text/javascript',  src='/javascripts/amazeui.min.js')
        script(type='text/javascript',  src='/javascripts/jquery1.min.js')
        script(type='text/javascript',  src='/javascripts/snow.js')
        script.
            (createSnow('',60));
    body#introduction
        header(class=['am-header','am-header-default','header'], data-am-widget='header')
            div(class=['am-header-left','am-header-nav'])
                a(href='/speak')
                    i(class=['am-header-icon','am-icon-angle-left'])
            h1.am-header-title 食品营养
            div(class=['am-header-right','am-header-nav'])
                a(href='#right-link')
        div#page
            div#container(class=['content','clearfix'])
                div(class=['content1','content'])
                    h1 枸杞
                    div.text
                        span.fl  2016-1-5
                        span.fr
                            i.am-icon-star 收藏152
                        span.fr
                            i.am-icon-thumbs-o-up 浏览110
                    p 冬季的养生原则一般以益气助阳、滋阴补肾为主，而枸杞就是冬季进补的好选择。 枸杞是上乘的滋补药，含有人体必需的各种营养成分，其中蛋白质为20%左右，脂肪为10%左右，糖为40%左右，剩下的30%左右为无机盐和多种维生素。
                    p 它主治肝肾阴亏、腰膝酸痛、视力衰弱和糖尿病(糖尿病食品)等症
                    p 最佳食用方法：冬季吃枸杞宜煮粥，可以和各种粥品搭配。枸杞还有一种简便的吃法，就是早晚嚼食，嚼食的好处是对枸杞中营养成分的吸收会更加充分。嚼枸杞时要注意，在吃的数量上最好减半，否则容易滋补过度。一般来说，健康(健康食品)的成年人每天吃20克左右的枸杞比较合适;如果想起到治疗的效果，每天可以吃30克左右。最佳搭配：山药炖枸杞口味清爽，低脂、高养分，泵帮助新陈代谢而达到美容(美容食品)目的，并有降血脂的功效，更年期(更年期食品)女性(女性食品)应该多吃。
        div(data-am-widget='duoshuo',class=['am-duoshuo','am-duoshuo-default'], data-ds-short-name='amazeui')
            div.ds-thread
        div(data-am-widget='duoshuo',class=['am-duoshuo','am-duoshuo-default'], data-ds-short-name='amazeui')
            div.ds-thread