<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/style1.css">
    <link rel="stylesheet" href="/stylesheets/amazeui.min.css">
    <link rel="stylesheet" href="/stylesheets/mui.min.css">
    <script type="text/javascript" src="/javascripts/zhuce.js"></script>
  </head>
  <body>
    <header class="mui-bar mui-bar-nav"><a href="/login"><i class="am-header-icon am-icon-angle-left"></i></a>
      <h1 class="mui-title">注册</h1>
    </header>
    <div class="mui-content">
      <div class="public-margin-top">
        <form class="mui-input-group" action="/register" method="post">
          <div class="mui-input-row register-input">
            <input class="mui-input" type="text" placeholder="手机号" name="username">
          </div>
          <div class="mui-input-row">
            <input type="password" placeholder="密码" name="password">
          </div>
          <div class="mui-input-row">
            <input type="password" placeholder="密码" name="password1">
          </div>
          <button class="public-g-btn btn-block" onclick="return zhuce()">注册</button>
          <div class="cuowu"></div>
        </form>
      </div>
    </div>
  </body>
</html>